#

           ##::[[-----  Custom NanoRC -----]]::##

#===========================================================
                  ##----- Defaults -----##
#===========================================================

  # I utilize scopatz's .nanorc configuration:
    # https://github.com/scopatz/nanorc

      # To not utilize:
        # Comment out: Line 98

      # To utilize:
        # BSD/Linux:
          # curl https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh | sh

        # Router/SBC:
          # wget https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh -O- | sh


#===========================================================
                  ##----- Options -----##
#===========================================================

  # https://www.nano-editor.org/dist/latest/nanorc.5.html


# Enabled #
#-----------------------------------------------------------

# Wrap at tab/space
set atblanks

# Create Backup:
set backup
set backupdir "~/.nano"

# Bold text not Reverse:
set boldtext

# Bracket HL:
set brackets ""'’)>]}'""
set matchbrackets ""'(<[{)>]}'""

# Cursor Location:
set constantshow

# Save History:
set historylog

# Lock file if open
set locking

# Remember Cursor Position
set positionlog

# Quotes
set quotestr "^([ \\t]*[#:>\\|}])+"

# KeyPad:
set rawsequences

# Soft wrap:
set softwrap

# Smart[er] Home Key
set smarthome

# Tab Size:
set tabsize 2

# Convert → to .:
set tabstospaces

# Save w/ LF EOL
set unix

# Disabled #
#-----------------------------------------------------------

# Auto indent:
  ## set autoindent

# Mouse Support
  ## set mouse


#===========================================================
                  ##----- RC Files -----##
#===========================================================

# Include #
#-----------------------------------------------------------

# User-Specific:
include "~/.nano/*.nanorc"

# System-Wide:
  ## include "/etc/nano/*.nanorc"
  ## include "/usr/nano/*.nanorc"
  ## include "/usr/share/nano/*.nanorc"
