#

           ##::[[-----  Custom NanoRC -----]]::##

#===========================================================
                  ##----- Defaults -----##
#===========================================================

    # I utilize scopatz's .nanorc configuration
      # See: https://github.com/scopatz/nanorc

        # To utilize:

          # git: see git-install.sh
            # Normal BSD/Linux distros

          # wget: see wget-install.sh
            # Router/SBC distros

        # To not utilize:
          # Comment out: Line 102


#===========================================================
                  ##----- Options -----##
#===========================================================

    # Enabled #
#-----------------------------------------------------------

# Wrap at tab/space
set atblanks

# Create Backup:
set backup
set backupdir "/mnt/sda1/backups/nano/root"

# Bracket HL:
set brackets ""’)>]}""
set matchbrackets ""'(<[{)>]}'""

# Cursor Location:
set constantshow

# Save History:
set historylog

# Lock file if open
set locking

# No Text Wrap:
set nowrap

# Remember Cursor Position
set positionlog

# Quotes
set quotestr "^([ \\t]*[#:>\\|}])+"

# KeyPad:
set rebindkeypad

# Smart[er] Home Key
set smarthome

# Smooth Scrolling:
set smooth

# Enable Suspend:
set suspend

# Tab Size:
set tabsize 2

# Convert -> to .:
set tabstospaces

# Save w/ LF EOL
set unix

    # Disabled #
#-----------------------------------------------------------

# Unsuspend:
  ## set fg

# List jobs:
  ## set jobs

# Mouse Support
  ## set mouse


#===========================================================
                  ##----- RC Files -----##
#===========================================================

    # Include #
#-----------------------------------------------------------

# User-Specific:
include "~/.nano/*.nanorc"

# System-Wide:
  ## include "/etc/nano/*.nanorc"
  ## include "/usr/nano/*.nanorc"
  ## include "/usr/share/nano/*.nanorc"
